
.section {
    border-bottom: 2px solid black;
    display: flex;
}

.h1 {
    font-style: italic;
    font-size: x-large;
}

.p {
    padding-left: 870px;
    padding-right: 10px;
    font-style: italic;
    font-size: large;
}

.button {
    color: rgb(165, 49, 97);
    border: none;
    font-style: italic;
    background-color: white;
    padding-left: 0;
}

.button:hover{
    color: blueviolet;
}
.logout {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.logout:hover{
    background-color: brown;
}
.verify {
    display: flex;
    float: right;
}

.verifybutton {
    color: purple;
    background-color: transparent;
    border: none;
}
.img {
    width: 20cm;
    align-items:center;
}

.buttone {
    margin-right: 4.5cm;
    background-color: aqua;
    width: 10cm;
    height: 1cm;
    font-size: large;
    padding-right: 30px;
}

.buttone:hover {
    background-color: yellow;
}